@import "tailwindcss";

@theme {
  --color-main: #192118;
  --color-bg-second: #141414;
  --color-card: #C69874;
  --color-card-shadow: rgba(122, 209, 117, 0.2);
  --color-primary: #14532D;
  --color-secondary: #166534;
  --color-accent: #22C55E;
  --color-badge: #DCFCE7;
  --color-text: #349e38;
  --color-muted-text: #647067;
  --color-border: #4e9c40;

  --font-main: "lato";

  --animate-light: light 2300ms ease-in-out infinite;
  --animate-light-hover: light-hover 1000ms ease-in-out infinite;

  @keyframes light {

    0%,
    100% {
      box-shadow: 0 0 15px 0 rgba(122, 209, 117, 0);
    }

    50% {
      box-shadow: 0 0 15px 0 rgba(122, 209, 117, 0.15);
    }
  }

  @keyframes light-hover {

    0%,
    100% {
      box-shadow: 0 0 15px 0 rgba(217, 52, 63, 0);
    }

    50% {
      box-shadow: 0 0 15px 2px rgba(217, 52, 63, 0.3);
    }
  }
}

html, body, #root {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE dan Edge lama */
  background-color: black;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar, 
#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, dan Edge Baru */
}

.section-hide-down {
  opacity: 0%;
  transform: translate(0px, clamp(50px, 16vw, 100px));
}

.section-hide-down-more {
  opacity: 0%;
  transform: translate(0px, clamp(70px, 18vw, 120px));
}

.section-hide-up {
  opacity: 0%;
  transform: translate(0px, clamp(-50px, -16vw, -100px));
}

.section-hide-left {
  opacity: 0%;
  transform: translate(clamp(-50px, -16vw, -100px), 0px);
}

.section-hide-right {
  opacity: 0%;
  transform: translate(clamp(50px, 16vw, 100px), 0px);
}

.section-hide-opacity{
  opacity: 0%;
}

.section-hide-rotate-right {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(4deg);
}

.section-show {
  opacity: 100%;
  transform: translate(0px, 0px) rotate(0deg) scale(100%);
}